<html>
  <head>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="jumbotron">
      <div class="container d-flex  mt-4">
        <p class="mr-3">
          Enter any date after June 15, 1995
          <br />
          Tip: go to 07/16/2019 if you want a video
        </p>
        <form method="POST">
          <input type="date" name="text" />
          <input class="btn btn-primary" type="submit" />
        </form>
      </div>
      <div class="container card">
        <h1 class="text-center">{{ title }}</h1>
        <p>{{ desc }}</p>
        {% if isImg %}
        <img src="{{ url }}" alt="Picture of the day" />
        {% else %}
        <h2>
          Lucky you, today's got a video! Check it out below!
        </h2>
        <iframe
          src="{{ url }}"
          width="100%"
          height="700"
          alt="video of the day!"
        ></iframe>
        {% endif %}
      </div>
    </div>
  </body>
</html>
